:root {
  --gray: rgb(216, 216, 216);
  --light: rgb(241, 241, 241);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-y: hidden;
}

li {
  list-style: none;
}

/******************************* Main *******************/

main {
  display: flex;
  height: 100vh;
  background-color: var(--light);
  justify-content: center;
  align-items: center;
}

#listContainer {
  width: 90vw;
  max-width: 425px;
  background-color: white;
  box-shadow: 3px 6px 6px var(--gray);
}

.list-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.list-title {
  margin-block: 3px;
  width: fit-content;
  padding: 9px;
  font-size: 1rem;
}

#restart-icon {
  display: block;
  margin: 12px 12px 12px auto;
  width: 18px;
  height: 18px;
  border: none;
  background: url('./images/icons/refresh-icon.png') no-repeat;
  background-size: 18px;
  cursor: pointer;
}

.input-label {
  display: flex;
  width: 100%;
  height: fit-content;
  padding-block: 3px;
  border-bottom: 1px solid var(--gray);
}

#task-input {
  border: none;
  width: calc(100% - 6px);
  padding: 9px;
}

#task-input::placeholder {
  font-style: italic;
}

#task-input:focus {
  outline: none;
}

#enter-btn {
  display: block;
  margin: 12px 12px 12px auto;
  width: 18px;
  height: 18px;
  border: none;
  background: url('./images/icons/enter.png') no-repeat;
  background-size: 15px;
  cursor: pointer;
}

.taskList {
  display: flex;
  flex-direction: column;
}

.task-item {
  padding-block: 3px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.checkbox {
  display: none;
}

.check-btn {
  display: block;
  margin-inline: 10px;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 2px solid var(--gray);
}

.check-btn::before {
  content: '';
  display: none;
  width: 6px;
  height: 3px;
  background-color: white;
  transform: rotate(42deg);
  position: relative;
  top: 6px;
}

.check-btn::after {
  content: '';
  display: none;
  width: 12px;
  height: 3px;
  background-color: white;
  transform: rotate(-54deg);
  position: relative;
  top: 2px;
  left: 3px;
}

.checkbox:checked ~ .check-btn {
  background-color: blue;
  border-color: blue;
}

.checkbox:checked ~ .check-btn::before,
.checkbox:checked ~ .check-btn::after {
  display: block;
}

.edit-task {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.scratch {
  text-decoration: line-through;
}

.task-description {
  width: 100%;
  border: none;
  padding: 9px 0;
}

.task-description:focus {
  outline: none;
}

.task-btn {
  width: 18px;
  height: 18px;
  border: none;
  margin: 12px 12px 12px auto;
}

.drag-btn {
  background: url('./images/icons/drag-icon.png') 50% no-repeat;
  background-size: 6px 18px;
}

.delete-Task-Btn {
  background: url('./images/icons/trash-icon.png') no-repeat;
  background-size: 15px;
  cursor: pointer;
}

.hide {
  display: none;
}

#clear {
  width: 100%;
  border: none;
  padding: 15px;
  color: gray;
  cursor: pointer;
}
